language: java
jdk: oraclejdk8

addons:
  apt:
    sources:
      - mysql-5.7-trusty
    packages:
      - mysql-server
      - mysql-client

services:
  - mysql

before_install:
  - sudo mysql_upgrade -u travis
  - mysql < scripts/travis_test.sql


notifications:
  webhooks: https://oapi.dingtalk.com/robot/send?access_token=3863439bced5ebb494f43b5af3b6d0d8361bf0a6cba5d4d0cbc7026d3e3966bc